@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/Wonderland-Gate-Scenic-Backdrop-e1595267501403.jpg);
  background-position:  center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clock-container {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/cheshirecat.jpg);
  background-position:  center;
  background-repeat: no-repeat;
  background-size: cover;
}

button{
  font-size: 85px;
  font-family: "Dancing Script";
  color: rgb(205, 205, 205);
  cursor: pointer;
}
